.ios, .md{
  page-destination {

    #map {
      width: 100%;
      height: 75%;
    }

    ion-card {
      max-height: 200px;
      overflow: scroll;
      position: relative;
      top: 77%;
      width: auto;
      z-index: 1;
    }

    ion-buttons {
      position: auto;
      width: auto;
    }

    ion-content {
      position: absolute;
    }

    .flex {
      display: -webkit-flex;
      display: flex;
      height: auto;
      position: relative;
    }

    .flex-child {
      width: absolute;
      height: absolute;
      margin: auto;
    }

  }
}
